h1{
    font-size: 50px;
    font-family: sans-serif;
    padding: 25px;
    font-weight: bold;
    color: red;
    text-align: center;
}
p{
    color: blue;
    font-size: 20px;
}
img{
    padding: 25px;
    height: 250;
    width: 350;
    margin: auto;
    display: block;
}
